<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YJRecordingDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAB125A81F67D41600C77D6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB125C11F67D41600C77D6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB125CC1F67D41600C77D6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
